:root {
  /* Белый */
  --color-white: rgb(255 255 255);
  --color-white-90: rgb(255 255 255 / 0.9);
  --color-white-70: rgb(255 255 255 / 0.7);
  --color-white-50: rgb(255 255 255 / 0.5);
  --color-white-30: rgb(255 255 255 / 0.3);
  --color-white-10: rgb(255 255 255 / 0.1);

  /* Голубой */
  --color-accent: rgb(130 179 211);
  /* base #82B3D3 */
  --color-accent-hover: rgb(104 162 202);
  /* hover #68A2CA */
  --color-accent-active: #82B3D3;
  /* active */

  /* Полупрозрачные варианты */
  --color-accent-30: rgb(104 162 202 / 0.3);
  /* голубой 30% */

  /* Чёрный */
  --color-black: rgb(0 0 0);
  --color-black-90: rgb(0 0 0 / 0.9);
  --color-black-70: rgb(0 0 0 / 0.7);
  --color-black-50: rgb(0 0 0 / 0.5);
  --color-black-30: rgb(0 0 0 / 0.3);
  --color-black-10: rgb(0 0 0 / 0.1);

  /* Доп. фоны */
  --color-primary: rgb(131 179 211 / 0.2);
  /* голубой 20% */
  --color-secondary: rgb(131 179 211 / 0.12);
  /* голубой 12% */

  /* Базовые */
  --color-extra: rgb(255 255 255);
  /* белый */
  --color-text: rgb(51 51 51);
  /* текст #333 */
  --color-gray-light: rgb(242 242 242);
  /* светло-серый фон */

  /* Коричневые */
  --color-dark: rgb(117 97 87);
  /* коричневый #756157 */
  --color-brown-dark: #615048;
  /* hover для brown */
  --color-dark-30: #7561574D;
  /* 30% для active */

  /* Зелёные */
  --color-green: rgb(125 181 79);
  /* base #7DB54F */
  --color-green-hover: #6C9E42;
  /* hover */

  /* Бордеры и тени */
  --color-border: #E5E5E5;
  /* основной бордер */
  --color-border-muted: #E6E6E6;
  /* бордер карточек */
  --shadow-20: rgb(0 0 0 / 0.2);
  /* тень 20% */

  /* Размеры */
  --star-size: 22px;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

img {
  max-width: 100%;
  display: block;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  color: var(--color-text);
  background-color: var(--color-gray-light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  padding: 0;
  text-decoration: none;
  color: var(--color-black);
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--color-extra);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0 var(--shadow-20);
}

.page-header {
  display: flex;
  padding: 0 70px;
  color: var(--color-black);
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  list-style-type: none;
  gap: 0;
  align-items: center;
  align-content: flex-start;
  padding: 0;
  list-style: none;
}

.navigation__logo-link {
  display: flex;
  position: absolute;
  z-index: 2;
  min-width: 140px;
  height: 64px;
}

.navigation__link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navigation__list--main {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 169px;
  list-style: none;
  flex: 1;
}

.navigation__list--user {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  gap: 0;
}

.navigation__icon {
  padding: 22px 12px;
}

.navigation__count-badge {
  font-size: 10px;
  font-weight: 400;
  padding: 5px;
  position: absolute;
  line-height: 1;
  text-align: center;
  color: var(--color-extra);
  background-color: var(--color-green);
  border-radius: 50%;
  transform: translate(40%, -55%);
}

.navigation__list--user .navigation__link--search,
.navigation__list--user .navigation__link--favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  padding: 0;
}

.hero {
  position: relative;
  background-color: #33484c;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 51px 70px 82px;
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;
  background-image: url("../images/icons/divider.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  display: block;
  line-height: 0;
  pointer-events: none;
}

.button {
  display: block;
  align-items: center;
  justify-content: center;

  padding: 8px 50px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  text-decoration: none;
  color: var(--color-extra);
  background-color: var(--color-accent);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe__button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

.navigation__button {
  align-self: center;
  margin-left: 20px;
  padding: 8px 34px;
  min-width: 92px;
}

.button--brown {
  background-color: var(--color-dark);
  color: var(--color-extra);
}

.button--transparent {
  background-color: transparent;
  color: var(--color-extra);
  border: none;
}

.button--large {
  font-size: 20px;
  line-height: 36px;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.section-subtitle {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-text);
}

.section-subtitle--light {
  color: var(--color-extra);
}

.advantages-intro {
  padding-top: 69px;
  padding-bottom: 90px;
  margin-bottom: 0;
}

.advantages-intro__title {
  padding-left: 70px;
  padding-right: 70px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
  color: var(--color-black);
}

.advantages-intro__subtitle {
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages__item-title,
.services__item-title {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--color-black);
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages__list .advantages__item:nth-child(n+2):nth-child(-n+4) .advantages__item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto 0;
  color: var(--color-black-30);
  background-color: currentColor;
}

.advantages__list .advantages__item:nth-child(1) .advantages__item-title::after,
.advantages__list .advantages__item:nth-child(5) .advantages__item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto 0;
  color: var(--color-white-30);
  background-color: currentColor;
}

.section-title--light {
  color: var(--color-extra);
}

.advantages__item {
  width: 400px;
}

.advantages__item--accent {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--color-accent);
  color: var(--color-extra);
}

.advantages__item-wrapper {
  padding: 112px 84px;
}

.advantages__item-wrapper--accent {
  padding: 102px 85px;
}

.advantages__item-subtitle {
  margin-bottom: 0;
}

.advantages__list,
.services__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: stretch;
}

.advantages__item--primary {
  background-color: var(--color-primary);
}

.advantages__item--secondary {
  background-color: var(--color-secondary);
}

.advantages__item-image {
  display: block;
  background-color: var(--color-accent);
}

.services__title {
  padding-top: 64px;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: var(--color-black)
}

.services__subtitle {
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 64px;
  margin-top: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services__item {
  display: flex;
  flex-direction: column;
  padding: 81px 85px;
  text-align: center;
  min-width: 230px;
}

.services__item--home .services__item-title::before {
  display: block;
  height: 72px;
  margin-bottom: 30px;
  content: url("../images/icons/advantage-home.svg");
}

.services__item--food .services__item-title::before {
  display: block;
  height: 72px;
  margin-bottom: 30px;
  content: url("../images/icons/advantage-burger.svg");
}

.services__item--souvenir .services__item-title::before {
  display: block;
  height: 72px;
  margin-bottom: 30px;
  content: url("../images/icons/advantage-souvenir.svg");
}

.services__item--secondary {
  background-color: var(--color-secondary);
}

.services__item--extra {
  background-color: var(--color-extra);
}

.hotel-search {
  padding: 96px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hotel-search__title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--color-black)
}

.hotel-search__subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-text);
  padding-bottom: 54px;
}

.subscribe {
  display: block;
  padding: 96px 70px 104px;
  text-align: center;
  color: var(--color-black);
  background-image: none;
}

.subscribe--light {
  text-align: center;
  color: var(--color-extra);
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe__subtitle {
  padding-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.subscribe__form {
  display: flex;
  width: 684px;
  justify-self: center;
}

.subscribe__field {
  background: transparent;
}

.subscribe__input {
  flex-grow: 1;
  padding: 12px 20px 10px;
  background-color: var(--color-gray-light);
  color: var(--color-text);
  border: none;
  border-radius: 4px 0 0 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.inner-header {
  padding: 35px 70px 70px;
  background-image: url("../images/filter-background.jpg");
  background-color: #33484c;
  background-size: cover;
  background-position: center;
}

.inner-header__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: var(--color-extra);
  margin: 0;
  margin-bottom: 7px;
  font-synthesis: none;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--color-extra);
  margin-bottom: 40px;
}

.breadcrumbs__item {
  display: inline-flex;
  align-items: center;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 22px;
  margin-right: 8px;
  background: url("../images/icons/breadcrumbs-arrow.svg") no-repeat center / contain;
}

.breadcrumbs__link--back-home {
  display: block;
  width: 13px;
  height: 15px;
  background: url("../images/icons/breadcrumbs-home.svg") no-repeat center / contain;
}

.breadcrumbs__link {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.filter-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  color: var(--color-extra);
}

.filter-form__group {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;

}

.filter-form__group--price {
  margin-right: 68px;
}

.filter-form__group--checkbox {
  margin-right: 72px;
}

.filter-form__group--radio {
  margin-right: 150px;
}

.filter-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.filter-form__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter-form__item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-form__range {
  display: flex;
  flex-direction: column;
}

.filter-form__control-input[type="checkbox"] {
  appearance: none;
  min-width: 20px;
  height: 20px;
  margin: 0 16px 0 0;
  border-radius: 4px;
  background-color: #ffffff;
}

.filter-form__control-input[type="checkbox"]:checked::after {
  width: 12px;
  height: 10px;
}

.filter-form__control-input[type="checkbox"]::after {
  content: "";
  position: absolute;
  margin: 5px 4px 5px 4px;
  background-image: url("../images/icons/checkbox__icon.svg");
  background-repeat: no-repeat;
}

.filter-form__control-input[type="radio"] {
  appearance: none;
  position: relative;
  min-width: 20px;
  height: 20px;
  margin: 0 16px 0 0;
  border-radius: 50%;
  background-color: var(--color-white);
}

.filter-form__control-input[type="radio"]:checked::after {
  width: 10px;
  height: 10px;
}

.filter-form__control-input[type="radio"]::after {
  content: "";
  position: absolute;
  margin: 5px;
  border-radius: 50%;
  background-color: #3f5e72;
}

.filter-form__control:hover {
  opacity: 0.6;
}

.filter-form__control-input:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

.range-inputs {
  display: flex;
  margin-bottom: 44px;
}

.range-inputs__label {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  display: block;
  position: relative;
  width: 143px;
  margin-right: 2px;
}

.range-inputs__label span {
  position: absolute;
  top: 12px;
  right: 20px;
  color: #000000;
  opacity: 0.3;
}

.input {
  appearance: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 103px;
  height: 24px;
  padding: 12px 20px;
  border: none;
}

.input--min {
  border-radius: 4px 0 0 4px;
}

.input--max {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  box-sizing: border-box;
  width: 287px;
  height: 4px;
  background-color: var(--color-white-30)
}

.range-scale__bar {
  top: 0;
  right: 61px;
  width: 226px;
  position: absolute;
  height: 4px;
  background-color: var(--color-white);
}

.range-scale__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-scale__toggle--min {
  top: -8px;
  right: 0;
}

.range-scale__toggle--max {
  top: -8px;
}

.filter-form__buttons > .button--accent {
  padding: 8px 50px;
  margin-bottom: 32px;
  margin-top: 56px;
}

.filter-form__buttons > .button--transparent {
  padding: 8px 57px;
}

.filter-form__control {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
}

.select-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  min-width: 292px;
  box-sizing: border-box;
  padding: 12px 18px;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-extra);
  color: var(--color-text);
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.catalog-products {
  padding: 0 70px;
}

.catalog-products__count {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-left: 0;
  color: var(--color-black)
}

.catalog-bar {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  column-gap: 70px;
  padding: 50px 0 40px;
}

.view-toggle {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  margin-bottom: 1px;
}

.view-toggle__button {
  width: 48px;
  height: 48px;
  padding: 14px 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-extra);
  cursor: pointer;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-toggle__button--active {
  background-image: url("../images/icons/view-grid.svg");
  border-radius: 4px;
  color: var(--color-extra);
}

.view-toggle__button--fullscreen {
  background-image: url("../images/icons/view-fullscreen.svg");
}

.view-toggle__button--list {
  background-image: url("../images/icons/view-list.svg");
}

.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 40px;
}

.product-card {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1px var(--color-border-muted);
  gap: 16px;
  border-radius: 4px;
  padding: 20px;
}

.product-card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.product-card__row--actions {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.product-card__button {
  padding: 8px 26px;
  white-space: nowrap;
}

.button--green {
  padding: 8px 18px;
  background-color: var(--color-green);
  color: var(--color-extra);
}

.product-card__button.button--accent {
  padding: 8px 20px;
}

.product-card__stars {
  margin: 0;
  height: 17px;
  background-image: url("../images/icons/star.svg");
  background-repeat: space;
}

.product-card__image {
  width: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 17px;
}

.product-card__stars--1 {
  width: calc(var(--star-size) * 1);
}

.product-card__stars--2 {
  width: calc(var(--star-size) * 2);
}

.product-card__stars--3 {
  width: calc(var(--star-size) * 3);
}

.product-card__stars--4 {
  width: calc(var(--star-size) * 4);
}

.product-card__stars--5 {
  width: calc(var(--star-size) * 5);
}

.product-card__rating {
  display: inline-block;
  padding: 8px 22px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-gray-light);
  color: var(--color-text);
  border: none;
  border-radius: 4px;
}

.product-card__type,
.product-card__price,
.product-card__rating {
  margin: 0;
}

.product-card__title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.pagination-nav {
  margin-bottom: 60px;
  border-top: 1px solid var(--color-border);
  padding-top: 40px;
}

.pagination {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.pagination__link {
  width: 58px;
  height: 58px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--color-accent);
  color: var(--color-extra);
  text-decoration: none;
}

.pagination__link--current {
  background-color: var(--color-gray-light);
  color: var(--color-black);
  pointer-events: none;
}

.pagination__link--dots {
  background-color: transparent;
  color: var(--color-black);
  pointer-events: none;
}

.page-footer {
  padding: 46px 70px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__social-list {
  padding: 0;
  display: flex;
  list-style-type: none;
  max-width: 160px;
  margin: 0;
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.page-footer__contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

.navigation__link--current::after {
  content: "";
  position: absolute;
  left: 15px;
  right: 16px;
  bottom: -1px;
  height: 2px;
  background: var(--color-dark);
  pointer-events: none;
  z-index: 2;
}

.page-footer__social-link:hover svg path {
  fill: var(--color-accent-hover);
}

.page-footer__social-link:active svg path {
  fill: var(--color-accent-30)
}

.page-footer__contacts-phone:hover {
  color: var(--color-dark);
}

.page-footer__contacts-phone:active {
  color: var(--color-dark-30);
}

.page-footer__contacts-phone:focus-visible {
  color: var(--color-dark);
}

.page-footer__copyright-link:hover svg path {
  fill: var(--color-dark);
}

.page-footer__copyright-link:active svg path {
  fill: var(--color-dark-30);
}

.pagination__link:hover {
  background-color: var(--color-accent-hover);
}

.pagination__link:active {
  background-color: var(--color-accent-active);
  color: var(--color-white-30);
}

.view-toggle__button[aria-pressed="true"] {
  border: 2px solid var(--color-black);
}

.view-toggle__button:hover {
  border: 2px solid var(--color-black);
}

.view-toggle__button:focus {
  outline: none;
  border: 2px solid var(--color-black);
}

.view-toggle__button:focus-visible {
  border-color: var(--color-accent);
  outline: none;
}

.select-control:hover {
  border-color: var(--color-accent);
}

.select-control:focus-visible {
  border-color: var(--color-accent);
  outline: none;
}

.select-control:disabled {
  border-color: var(--color-black-30);
  background-color: var(--color-black-30);
  color: var(--color-black-30);
  cursor: not-allowed;
}

.button--brown:hover {
  background-color: var(--color-brown-dark);
}

.button--brown:focus-visible {
  background-color: var(--color-brown-dark);
}

.button--brown:active {
  background-color: var(--color-dark);
  color: var(--color-white-30);
}

.button--brown:disabled {
  background-color: var(--color-border);
  color: var(--color-extra);
}

.button--accent:hover {
  background-color: var(--color-accent-hover);
}

.button--accent:focus-visible {
  background-color: var(--color-accent-hover);
}

.button--accent:active {
  background-color: var(--color-accent-active);
  color: var(--color-white-30);
}

.button--accent:disabled {
  background-color: var(--color-border);
  color: var(--color-extra);
}

.button--green:hover {
  background-color: var(--color-green-hover);
}

.button--green:focus-visible {
  background-color: var(--color-green-hover);
}

.button--green:active {
  background-color: var(--color-green);
  color: var(--color-white-30);
}

.button--green:disabled {
  background-color: var(--color-border);
  color: var(--color-extra);
}

.button--transparent:hover {
  opacity: 0.5;
}

.button--transparent:focus-visible {
  outline: 3px solid var(--color-accent);
}

.button--transparent:active {
  opacity: 0.3;
}

dialog::backdrop {
  background: #F2F2F2CC;
}

.modal {
  border: none;
  padding: 0;
  background: transparent;
}

.modal__window {
  position: relative;
  background: var(--color-white, #fff);
  border-radius: 30px;
  padding: 64px 70px;
  display: flex;
  flex-direction: column;
}

.modal__close {
  background: #F2F2F2 url("../images/icons/close-icon.svg") no-repeat center;
  background-size: 20px 20px;
  position: absolute;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  color: #000;
  font-size: 20px;
  line-height: 1;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.modal__title {
  margin: 0;
  margin-bottom: 64px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-form__group {
  border: 0;
  padding: 0;
  margin: 0;
}

.modal-form__label-text {
  display: inline-block;
  margin-right: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal-form__label-text--out {
  margin-right: 18px;
}

.modal-form__input {
  width: 377px;
  padding: 12px 12px;
  border: 2px solid #F2F2F2;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal-form__input--date {
  background: url("../images/icons/calendar.svg") no-repeat right 12px center #F2F2F2;
  background-size: 16px 15px;
  padding-right: 40px;
  cursor: text;
}

.modal-form__input--date::placeholder {
  color: #000000;
  opacity: 1;
}

.modal-form__hint {
  padding: 0;
  padding-left: 157px;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.modal-form__hint--error {
  color: #FF5A5A;
}

.modal-form__group--row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}

.counter {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.counter__label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 46px;
}

.counter__controls {
  display: flex;
  align-items: center;
}

.counter__btn {
  width: 20px;
  height: 48px;
  border: none;
  background: #F2F2F2;
  font-size: 22px;
  line-height: 1;
  color: #000;
  padding: 0;
  margin-left: 10px;
}

.counter__input {
  flex: 1 1 auto;
  height: 46px;
  text-align: center;
  background: #F2F2F2;
  border: none;
  font: inherit;
  color: #333;
}

.counter__input:focus {
  outline: none;
  border-color: #B3B3B3;
}

.counter__label-wrap {
  position: relative;
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.info-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background: #83B3D3;
  color: #fff;
  font: 700 12px/1 Arial, sans-serif;
  cursor: default;
  display: inline-grid;
  place-items: center;
}

.tooltip {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 8px);
  z-index: 2;
  max-width: 240px;
  padding: 12px 14px;
  background: #333;
  color: #fff;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, .2);
  opacity: 0;
  visibility: hidden;
}

.counter__label-wrap:hover .tooltip,
.info-btn:focus + .tooltip {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

.modal-form__submit {
  align-self: center;
  width: 100%;
  height: 52px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
